body {
  background: black;
  font-family: "Roboto", sans-serif;
  color: white;
}
dl,
ol,
ul {
  margin: 0;
  list-style: none;
}
a {
  color: white;
  font-family: "Oranienbaum", serif;
}

header {
  background: url(img/bg-main.png) no-repeat center;
  min-height: 100vh;
}
.container {
  overflow: hidden;
}

.navbar {
  max-width: 1140px;
  margin: 0 auto;
}
.nav-wrapper {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.829);
  width: 100%;
  z-index: 5;
}
.navbar-light .navbar-nav .nav-link {
  color: white;
}

.nav_social-links:hover {
  background-position: center;
}
.nav_social-links-instagram {
  background: url(img/inst.png);
}
.nav_social-links-facebook {
  background: url(img/fb.png);
}
.nav_social-links-vkontakte {
  background: url(img/vk.png);
}
.nav_social-links {
  display: block;
  min-height: 25px;
  min-width: 30px;
  max-width: 30px;

  background-position: top;
  background-repeat: no-repeat;
}
.nav-tel {
  height: 30px;
}

.links-container {
  max-width: 10px;
}
.nav-tel a::after,
.navbar-light .navbar-nav .nav-link::after {
  content: "";
  background-color: #24ace3;
  display: block;
  width: 100%;
  height: 1px;
  transform: scale(0);
  transition: all 0.3s;
}
.nav-tel a:hover,
.navbar-light .navbar-nav .nav-link:hover {
  color: #24ace3;
  text-decoration: none;
}
.nav-tel a:hover::after,
.navbar-light .navbar-nav .nav-link:hover::after {
  transform: scale(1);
}
.nav-link,
.nav-tel a {
  display: inline-block;
}
.navbar-light .navbar-toggler {
  background-color: rgba(216, 216, 216, 0.705);
}

.link-container {
  max-width: 50px;
}

.hero {
  font-family: "Oranienbaum", serif;
  margin-top: 100px;
}
.hero__target {
  font-size: 24px;
}
.hero__mission {
  min-height: 30px;
}
.hero__mission a {
  color: #cdb380;
  font-size: 16px;
  text-decoration: underline;
}

/* section emergency */
main {
}
section .container {
  background-color: #fff;
  color: black;
}
.emergency {
  padding: 0;
  position: relative;
  overflow: hidden;
}
.title {
  font-family: "Oranienbaum", serif;
  text-align: center;
}
.emergency__descr {
  opacity: 0.5;
}
.emergency__img {
  display: block;
  width: 100%;
}
.emergency__new {
  color: rgba(255, 255, 255, 0.808);
  background-color: rgb(245, 65, 65);
  position: absolute;
  top: 32px;
  left: -64px;
  width: 200px;
  text-align: center;
  transform: rotate(-45deg);
}

/* production section */

.production__list {
}
.inner-container {
  width: 75%;
  margin: auto;
}

/* table */
.table {
  font-size: 20px;
  background-color: #fff000;
}

.table-btn {
  color: white;
  background-color: black;
  font-weight: bold;
  padding: 8px 20px 8px 20px;
  font-size: 16px;
  outline: none;
  border: none;
  transition: 0.5s;
  border-collapse: collapse;
  border-radius: 2px;
  cursor: pointer;
}

.table-btn:hover {
  color: black;
  background-color: #ffc107;
}

td,
th {
  border: solid 2px #ffcf11;
}
.table__currency-buttons button {
  background-color: transparent;
  outline: none;
  border: 1px solid black;
  padding: 10px 15px 10px 15px;
  cursor: pointer;
}
.table__currency-buttons button:hover {
  background-color: #ffc107;
}
/* @media screen and (max-width: 800px) {
  table thead {
    display: none;
  }
  table tr {
    display: block;
    margin-bottom: 1rem;
    border-bottom: 2px solid #e8e9eb;
  }
  table td {
    display: block;
    text-align: right;
  }
  table td:before {
    content: attr(aria-label);
    float: left;
    font-weight: bold;
  } */

/* cards */
.card-img-top {
  min-width: 60%;
}
.card-title {
  font-size: 15px;
  margin-bottom: 5px;
}
.card__subtitle {
  font-size: 25px;
}

.card {
  max-width: 300px;
  min-height: 380px;
  border: 3px solid rgba(0, 0, 0, 0.125) !important;
}

.card:hover {
  box-shadow: 0px 0px 60px 5px rgba(0, 0, 0, 0.158);
  border-color: rgba(0, 0, 0, 0.247) !important;
}
.price {
  font-size: 25px;
}
.old-price-wrapper {
}
.old-price {
  position: relative;
  font-size: 20px;
}

.old-price:before {
  border-bottom: 3px solid red;
  position: absolute;
  content: "";
  width: 100%;
  height: 60%;
  transform: rotate(-7deg);
}
.shopping-cart {
  display: none;
}
.card:hover .shopping-cart {
  display: inline-block;
}
.card-button {
  color: white;
  background-color: #ff0437;
  width: 100%;
  padding: 10px 0px 10px 0px;
}

.card-button:hover {
  background-color: #ff345d;
}
@media (max-width: 800px) {
  .card-img-top {
    width: 50%;
  }
}

@media (max-width: 993px) {
  .card-group {
    flex-direction: column;
  }
  .card {
    min-width: 100%;
    text-align: center;
  }
}
.card-text {
  max-width: 300px;
}
/* how happen */

.how-happens__card {
  min-width: 60%;
  margin: 0 auto;
}

@media (max-width: 800px) {
  .how-happens__card {
    flex-direction: column;
  }
  .how-happens__card img {
    min-width: 100%;
  }
}

/* foooter */

.footer-up {
  display: block;
  margin: 0 auto;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  padding: 6px 15px 6px 15px;
  cursor: pointer;
  transition: 0.5s;
}

.footer-up:hover {
  color: black;
  background-color: #fff;
}

footer a {
  font-family: "Roboto", sans-serif;
}
footer a:hover {
  color: #24ace3;
}
